<!DOCTYPE html>

<html>
    <head>
        <title>CSHR - RGUKT Nuzvid</title>
        <meta charset = "UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name = "author" content = "HEMANTH KUMAR"/>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <link rel="stylesheet" href="/cshr.css">
        <link rel="icon" type="image/x-icon" href="/Logo.ico">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

        
        <style>
            body{
                background-color: white;
            }
            @media only screen and (max-width: 900px){
                .container .main .forms-cards{
                    flex-direction: column;
                }
                .container .main .forms-cards .scroll-cards{
                    width: 75%;
                    position: relative;
                    left: 25px;
                }
            }
            @media only screen and (max-width: 800px){
                .container .main .forms-cards .login-form{
                    width: 400px;
                }
                .container .main .forms-cards .login-form .h b{
                    position: relative;
                    right: 8px;
                }
                .container .main .forms-cards .login-form .k button{
                    position: relative;
                    right: 8px;
                }
                .container .main .forms-cards .scroll-cards{
                    width: 100%;
                    margin-bottom: 20px;
                    position: relative;
                    left: 20px;
                }
            }
            
        </style>
    </head>

    <body>
        <div class = "container">
            <div class = "header">
                <div class = "img">
                    <img src = "/Logo.png" width = "60px"/>
                </div>
                <div class = "heading">
                    <h1>Rajiv Gandhi University of Knowledge Technologies - Nuzvid</h1>
                    <h4>Catering to the Educational Needs of Gifted Rural Youth of Andhra Pradesh</h4>
                    <h4>(Established by the Govt. of Andhra Pradesh and recognized as per Section 2(f), 12(B) of UGC Act, 1956)</h4>
                </div>
                <div class = "img">
                    <img src = "/medical_logo.png" width = "100px"/>
                </div>
            </div>
            <div class = "main">
            
                <div class = "title">
                    <h2>Center for Student Health Records - RGUKT NUZVID</h2>
                </div>
                <div class = "title" style = "background-color: white;border-bottom: 1px solid #222222;">
                    <a href = "/student" style="font-weight: bold;border-bottom: 2px solid #222222;color: #000000">Student</a>
                    <a href = "/employee">Employee</a>
                    <a href = "/about">About</a>
                </div>
                
                <div class = "forms-cards">
                    <div class = "login-form">
                        <form action="/studentData" method="post">
                            <p>STUDENT - LOGIN</p>
                            <div class = "h">
                                <b>UserName</b>
                            </div>
                            <div class = "input-flex">
                                <ion-icon name="person-outline"></ion-icon>
                                <input type = "text" placeholder = "Student ID" name="studentid" required autofocus autocomplete="off" style="text-transform: uppercase;"/>
                            </div>
                            <div class = "h">
                                <b>Password</b>
                            </div>
                            <div class = "input-flex">
                                <ion-icon name="lock-closed-outline"></ion-icon>
                                <input type = "password" placeholder = "Password" name="studentpassword" required autocomplete="off"/>
                            </div>

                            <% if (typeof error !== 'undefined') { %>
                                <script>
                                    Swal.fire({
                                        icon: 'error', // Type of alert
                                        title: 'Error', // Title of the alert
                                        text: '<%= error %>', // Error message
                                        confirmButtonText: 'OK', // Button text
                                        confirmButtonColor: '#AA0000', // Button color
                                    });
                                </script>
                            <% } %>

                            <div class = "k">
                                <button id = "btn" style="cursor: pointer;">LOGIN</button>
                            </div>
                        </form>
                    </div>
                    <div class="scroll-cards">
                        <div class="card">
                            <img src="/image_1.jpeg" alt="Image 1"/>
                            <img src="/image_2.jpg" alt="Image 2"/>
                            <img src="/image_3.jpg" alt="Image 3"/>
                            <img src="/image_4.jpg" alt="Image 4"/>
                        </div>
                        <div class="controls">
                            <button onclick="prevImage()" class="prev"><ion-icon name="chevron-back-outline"></ion-icon></button>
                            <button onclick="nextImage()" class=""><ion-icon name="chevron-forward-outline"></ion-icon></button>
                        </div>
                    </div>
                </div>

                
                <div class = "links-head">
                    <h3>Quick links</h3>
                </div>
                <div class = "links">
                    <div class = "link-box">
                        <a href = "https://rguktn.ac.in/">Home</a>
                        <a href = "https://intranet.rguktn.ac.in/SMS/">SMS</a>
                        <a href = "https://examcell.rguktn.ac.in/">Exam cell</a>
                        <a href = "https://rguktn.ac.in/library/">Library</a>
                        <a href = "https://rguktn.ac.in/academics/departments/">Departments</a>
                    </div>
                    <div class = "link-box">
                        <a href = "https://rguktn.ac.in/administration/">Administration</a>
                        <a href = "https://rguktn.ac.in/student_affairs/student_welfare/">Student welfare</a>
                        <a href = "https://alumni.rguktn.ac.in/">Alumni</a>
                        <a href = "https://rguktn.ac.in/rti/">RTI</a>
                        <a href = "https://rguktn.ac.in/contactus/">Contact us</a>
                    </div>
                </div>
                <div class = "mail-link">
                    <h3>E-Mail</h3>
                    <p><a href="mailto:n210042@rguktn.ac.in"><ion-icon name="mail-open-outline"></ion-icon>n210042@rguktn.ac.in</a></p>
                </div>
                
                <div class="social-media">
                    <div class="contact-phone">
                        <h3>Phone</h3>
                        <p>+91 32-7292-001</p>
                    </div>
                    <div class="s-links">
                        <h3>Follow us</h3>
                        <div class="follow">
                            <a href=""><ion-icon name="logo-facebook" class="facebook"></ion-icon></a>
                            <a href=""><ion-icon name="logo-instagram" class="instagram"></ion-icon></a>
                            <a href=""><ion-icon name="logo-twitter" class="twitter"></ion-icon></a>
                            <a href=""><ion-icon name="logo-linkedin" class="linkedin"></ion-icon></a>
                        </div>
                    </div>
                </div>

                <div class = "copyright">
                    <p><b>Copyright © 2015-2018 <i style = "color: black;">RGUKT Nuzvid.</i></b> All rights reserved.</p>
                    <p class="disappear"><a href = "#"><b>CSHR</b></a></p>
                </div>
            </div>
        </div>
    </body>

    <script>
        // JavaScript functions to handle image scrolling
        var currentImageIndex = 0;
        var images = document.querySelectorAll('.card img');
        var totalImages = images.length;
    
        function showImage(index) {
            // Hide all images
            for (var i = 0; i < totalImages; i++) {
                images[i].style.display = 'none';
            }
    
            // Display the specified image
            images[index].style.display = 'block';
            currentImageIndex = index;
        }
    
        function nextImage() {
            currentImageIndex = (currentImageIndex + 1) % totalImages;
            showImage(currentImageIndex);
        }
    
        function prevImage() {
            currentImageIndex = (currentImageIndex - 1 + totalImages) % totalImages;
            showImage(currentImageIndex);
        }
    
        // Show the first image initially
        showImage(0);
    
        // Automatically move to the next image every 3 seconds (adjust as needed)
        setInterval(nextImage, 3000);
    </script>
    

</html>