<!DOCTYPE html>
<html>
    <head>
        <title>CSHR - Home</title>
        <link rel="stylesheet" href="/cshr.css">
        <link rel="icon" type="image/x-icon" href="/Logo.ico">
        <meta charset = "UTF-8"/>
        <meta name = "viewport" content = "width=device-width,initial-scale=1.0"/>
        <meta name = "author" content = "HEMANTH KUMAR"/>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

        <style>
            .container .main .doctor-login{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 20px;
                background-color: white;
            }
            .container .main .doctor-login .login-form{
                width: 600px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 10px;
                margin-bottom: 40px;
            }
            .container .main .doctor-login .login-form form{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                border: .1px solid rgba(0,0,0,0.5);
                border-top: 7px solid black;
                border-radius: 3px;
                margin-top: 30px;
                padding-bottom: 20px;
            }
            .container .main .doctor-login .login-form form p{
                width: 100%;
                color: black;
                letter-spacing: 1px;
                padding: 15px 0px 10px 0px;
                font-size: 20px;
                font-weight: bold;
                font-family: sans-serif;
                text-align: center;
            }
            .container .main .doctor-login .login-form form .input-flex{
                width: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .container .main .doctor-login .login-form form .input-flex ion-icon{
                border: 1px solid black;
                font-size: 22px;
                padding: 10px;
            }
            .container .main .doctor-login .login-form form .input-flex input{
                width: 85%;
                padding: 12px 13px;
                font-size: 16px;
                outline: none;
                border: 1px solid black;
                letter-spacing: 1.1px;
            }
            .container .main .doctor-login .login-form form .h{
                width: 85%;
                display: flex;
                padding: 7px 0px;
                align-items: flex-start;
                margin-top: 10px;
            }
            .container .main .doctor-login .login-form form .k{
                width: 85%;
                margin-top: 25px;
                display: flex;
                align-items: flex-start;
            }
            .container .main .doctor-login .login-form form .h b{
                font-family: sans-serif;
            }
            .container .main .doctor-login .login-form form .k button{
                padding: 10px 17px;
                background: #000000;
                border: none;
                color: white;
                font-weight: bold;
                border-radius: 3px;
            }
            .container .main .doctor-login .login-form form .input-flex {
                position: relative;
            }

            .container .main .doctor-login .login-form form .input-flex .password-toggle {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }

            @media only screen and (max-width: 500px){
                .container .main .doctor-login .login-form form .input-flex .password-toggle{
                    position: absolute;
                    right: 0px;
                }
                .container .main .doctor-login .login-form form .h b{
                    position: relative;
                    right: 8px;
                }
                .container .main .doctor-login .login-form form .k button{
                    position: relative;
                    right: 8px;
                }
            }
        </style>

    </head>
    <body><div class = "container">
        <div class = "header">
            <div class = "img">
                <img src = "/Logo.png" width = "60px"/>
            </div>
            <div class = "heading">
                <h1>Rajiv Gandhi University of Knowledge Technologies - Nuzvid</h1>
                <h4>Catering to the Educational Needs of Gifted Rural Youth of Andhra Pradesh</h4>
                <h4>(Established by the Govt. of Andhra Pradesh and recognized as per Section 2(f), 12(B) of UGC Act, 1956)</h4>
            </div>
            <div class = "img">
                <img src = "/medical_logo.png" width = "100px"/>
            </div>
        </div>
        <div class = "main">
        
            <div class = "title">
                <h2>Center for Student Health Records - RGUKT NUZVID</h2>
            </div>
            <div class = "title" style = "background-color: white;border-bottom: 1px solid #222222;">
                <a href = "/student">Student</a>
                <a href = "/employee" style="font-weight: bold;border-bottom: 2px solid #222222;color: #000000">Employee</a>
                <a href = "/about">About</a>
            </div>
            
            <div class = "doctor-login"> 
                <div class = "login-form" style="position: relative;bottom: 20px;">
                    <form action="/dataEntry" method="post">
                        <p>EMPLOYEE - LOGIN</p>
                        <div class = "h">
                            <b>Employee ID</b>
                        </div>
                        <div class = "input-flex">
                            <ion-icon name="person-outline"></ion-icon>
                            <input type = "text" placeholder = "Employee ID" name="employeeid" id="userName" required autofocus autocomplete="off" style="text-transform: uppercase;">
                        </div>
                        <div class = "h">
                            <b>Password</b>
                        </div>
                        <div class="input-flex">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input type="password" placeholder="Password" name="password" id="password" required autocomplete="off">
                            <ion-icon name="eye-outline" id="togglePassword" class="password-toggle"></ion-icon>
                        </div>
                        

                        <% if (typeof error !== 'undefined') { %>
                            <script>
                                Swal.fire({
                                    icon: 'error', // Type of alert
                                    title: 'Error', // Title of the alert
                                    text: '<%= error %>', // Error message
                                    confirmButtonText: 'OK', // Button text
                                    confirmButtonColor: '#AA0000', // Button color
                                });
                            </script>
                        <% } %>

                        <div class="h" style="margin-bottom: -10px;">
                            <a href="/passwordReset" style="color: rgb(0, 0, 0);">Forgot password?</a>
                        </div>
                        
                        <div class = "k">
                            <button style="cursor: pointer;">LOGIN</button>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class = "links-head">
                <h3>Quick links</h3>
            </div>
            <div class = "links">
                <div class = "link-box">
                    <a href = "https://rguktn.ac.in/">Home</a>
                    <a href = "https://intranet.rguktn.ac.in/SMS/">SMS</a>
                    <a href = "https://examcell.rguktn.ac.in/">Exam cell</a>
                    <a href = "https://rguktn.ac.in/library/">Library</a>
                    <a href = "https://rguktn.ac.in/academics/departments/">Departments</a>
                </div>
                <div class = "link-box">
                    <a href = "https://rguktn.ac.in/administration/">Administration</a>
                    <a href = "https://rguktn.ac.in/student_affairs/student_welfare/">Student welfare</a>
                    <a href = "https://alumni.rguktn.ac.in/">Alumni</a>
                    <a href = "https://rguktn.ac.in/rti/">RTI</a>
                    <a href = "https://rguktn.ac.in/contactus/">Contact us</a>
                </div>
            </div>
            <div class = "mail-link">
                <h3>E-Mail</h3>
                <p><a href="mailto:n210042@rguktn.ac.in"><ion-icon name="mail-open-outline"></ion-icon>n210042@rguktn.ac.in</a></p>
            </div>

            <div class="social-media">
                <div class="contact-phone">
                    <h3>Phone</h3>
                    <p>+91 32-7292-001</p>
                </div>
                <div class="s-links">
                    <h3>Follow us</h3>
                    <div class="follow">
                        <a href=""><ion-icon name="logo-facebook" class="facebook"></ion-icon></a>
                        <a href=""><ion-icon name="logo-instagram" class="instagram"></ion-icon></a>
                        <a href=""><ion-icon name="logo-twitter" class="twitter"></ion-icon></a>
                        <a href=""><ion-icon name="logo-linkedin" class="linkedin"></ion-icon></a>
                    </div>
                </div>
            </div>
            
            <div class = "copyright">
                <p><b>Copyright © 2015-2018 <i style = "color: black;">RGUKT Nuzvid.</i></b> All rights reserved.</p>
                <p><a href = "#"><b>CSHR</b></a></p>
            </div>
        </div>
    </div>

    <script>
        // Select the eye icon element and the password input field
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');
    
        // Add an event listener to the eye icon for click events
        togglePassword.addEventListener('click', function (e) {
            // Toggle the visibility of the password
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
    
            // Change the eye icon based on password visibility
            if (type === 'text') {
                togglePassword.setAttribute('name', 'eye-off-outline'); // Change to closed eye icon
            } else {
                togglePassword.setAttribute('name', 'eye-outline'); // Change to open eye icon
            }
        });
    </script>
    
    

</html>